# vscode
.vscode

# npm
node_modules
# the generated output for comparison with the reference

test-vault/RSS/output
test-vault/.obsidian/workspace.json
test-vault/reports
test-vault/.trash
# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Obsidian vault deployment configuration
.env

# build artefacts
dist
temp
