/**
  Image styling;
  Markdown Usage: [[x.png | float:right | 400]] or
  [alt| float:right | 400]](x.png)
  to float text around the image of wudth 400.
*/
img[alt*="float:right"] {
    float: right;
   margin-left: 0.5em;
}

img[alt*="float:left"] {
    float: right;
    margin-right: 0.5em;
}