---
---

@import "{{ site.theme }}";

.sidebar {
    height: 100vh; /* Full viewport height */
    width: 250px; /* Sidebar width */
    position: fixed; /* Keeps the sidebar fixed */
    background-color: #333; /* Dark background */
    color: white;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #575757;
}

.content {
    margin-left: 260px; /* Leave space for the sidebar */
    padding: 20px;
}

.navbar {
    padding-top: 5em;
    background-color: #333; /* Dark background */
    color: white;
    padding-right: 10px;
    width: 30%;
    float:left;
    border-width: 2px;
    border-color: green;
}

.navitem {
    padding-left: 0;
    text-overflow: ellipsis;
}

.navheading {
    color: darkgoldenrod;
}